main .main-header {
  background: #464646;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
}

main .main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 1500px;
}

main .main-header .result {
  margin-bottom: 16px;
}

main .main-header .emphasis {
  color: #ff6c6c;
  font-weight: 600;
}

main .main-header button {
  color: white;
  font-size: 1rem;
}

main .main-header .today {
  font-size: 0.8rem;
  margin-left: 8px;
}

main .main-header .winnings {
  font-size: 1.2rem;
  display: flex;
  margin-bottom: 10px;
}

main .main-header .winnings .text {
  font-size: 1.7rem;
  margin-right: 32px;
}

main .main-header .numbers {
  display: flex;
  align-items: center;
}
main .main-header .numbers .circle {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-header .numbers * + * {
  margin-left: 8px;
}

/* background-image로 미리작업 하려고 했으나 이미지가 없음*/
main .main-header .numbers .yellow {
  background-color: #e6c941;
}

main .main-header .numbers .green {
  background-color: #255e16;
}

main .main-header .numbers .blue {
  background-color: #5c82f7;
}

main .main-header .numbers .red {
  background-color: #bb2009;
}

main .main-header .numbers .black {
  background-color: #131312;
}

main .main-header .numbers .inner {
  background: transparent linear-gradient(90deg, #ffffff 0%, #d5d5d5 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1.2rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
}

main .main-header .user-name {
  font-weight: 600;
}
main .main-header .logout-btn {
  background: white;
  color: black;
  border-radius: 50px;
  width: 75px;
  padding: 7px 0;
  font-size: 0.9rem;
  margin-left: 100px;
}

main .main-header .login-part ul li + li {
  margin-top: 16px;
}

main button {
  padding: 0;
}

main .main-banner {
  background-image: url('https://www.benchachinda.co.th/upload_fm/bcg/group/Banner-BCG-Group.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 60vh;

  position: relative;
  display: flex;
  justify-content: center;
}

main .main-banner h1 {
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  position: absolute;
  bottom: 80px;
}

main .call-box {
  width: 100%;
  height: 160px;
  display: flex;
  background-color: #464646;
}

main .call-box .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin-left: 200px;
}

main .call-box .container .left {
  display: flex;
}
main .call-box .container .left p {
  margin-top: 24px;
  color: white;
  font-size: 1.1rem;
  line-height: 1.7rem;
}
main .call-box .container .left img {
  height: 160px;
  object-fit: contain;
}
main .call-box .container .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .call-box .container .input-box input {
  width: 84px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 1.2rem;
  text-align: center;
}
main .call-box .container .input-box span {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
main .call-box .container .input-box button {
  width: 140px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 1.2rem;
  text-align: center;
  background: white;
  margin-left: 22px;
}

main .call-box .container .agree-box {
  color: white;
  margin-top: 8px;
}

main .call-box .container .agree-box button {
  color: white;
  font-size: 1rem;
}

main section {
  padding: 76px 320px;
}

main .combination-suggest .title {
  display: flex;
  align-items: center;
  margin-bottom: 167px;
}

main .combination-suggest .title h1 {
  font-weight: 600;
  margin-right: 40px;
  font-size: 2rem;
}

main .combination-suggest .combie-list {
  display: flex;
  align-items: center;
}

main .combination-suggest .combie-list li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .combination-suggest .combie-list li h2 {
  font-weight: 600;
  font-size: 1.7rem;
}

main .combination-suggest .combie-list li .divider {
  width: 113px;
  height: 1px;
  border-top: 1px solid black;
}

main .combination-suggest .combie-list li p {
  text-align: center;
  font-weight: 600;
}

main .combination-suggest .combie-list li + li {
  margin-left: 68px;
}

main .combination-suggest .combie-list li img {
  margin-bottom: 32px;
}

main .combination-suggest .combie-list li .divider {
  margin-top: 24px;
  margin-bottom: 8px;
}

main .intro {
  height: 400px;
}

main .intro img {
  object-fit: contain;
}

main .login-input-container {
  display: flex;

}
main .login-input-container > div{
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

main .login-input-container .sub{
  font-size: 0.8rem;
  margin-top: 10px;
}
main .login-input-container .sub input[type="checkbox"]{
  padding: 0;
  margin: 0;
}

main .login-input-container .sub button{
  font-size: 0.8rem;
}
main .login-input-container .login-btn{
  width: 72px;
  height: 72px;
  text-align: center;
  background-color: white;
  border: 1px solid #707070;
  color: black;
  border-radius: 2px;
  font-weight: 600;
}
main .login-input-container > div input:not(.checkbox){
  width: 172px;
  height: 25px;
  padding: 1px;
}

main .login-input-container input+input{
  margin-top: 10px;
}