header {
  position: sticky;
  top: 0px;
  background: white;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px #888;
}

header i {
  font-size: 1.5rem;
}

header .hidden {
  display: none;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 90vw;
  height: 100vh;
  background: white;
  box-shadow: 0px 0px 4px #888;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

header nav .close-btn {
  margin: 8px;
  padding: 8px;
}

header nav .logout-btn {
  margin: 32px;
  padding: 8px;
  background-color: var(--gray-bg);
  color: white;
  border-radius: 30px;
  width: 100px;
  font-weight: 300;
}

header nav .list-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

header nav .list-wrapper a {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

header nav .list-wrapper a span {
  font-size: 1.2rem;
}

header nav .list-wrapper a i {
  font-size: 0.8rem;
  color: #888;
}

header nav .list-wrapper a {
  display: flex;
  align-items: center;
}

header nav .list-wrapper * + * {
  border-top: 1px solid #eee;
}

header nav .list-wrapper .call-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

header nav .list-wrapper .call-number span:nth-child(2) {
  font-size: 0.9rem;
  margin-top: 8px;
}
